services:
  # 1. 데이터베이스 서비스
  mysqldb:
    image: mysql:latest
    container_name: mysqldb
    restart: always
    env_file: .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network

  # 2. Django 백엔드 서비스
  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: backend
    env_file: .env
    expose:
      - "8000"
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
      - /app/__pycache__
      - /app/**/__pycache__
      - static_volume:/app/static
    restart: always
    depends_on:
      - mysqldb
    networks:
      - app-network
    command: >
      bash -c "python wait_mysql.py &&
      python manage.py collectstatic --noinput &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      uvicorn config.asgi:application --host 0.0.0.0 --port 8000 --reload --reload-include '*.py' --reload-exclude '__pycache__/*'"

  # 3. Nginx 웹 서버
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  db_data:
  static_volume:

networks:
  app-network:
    name: bandf-network
